<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary - view</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">
    <!-- my css -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-app="myApp" ng-controller="diaryView">
    <section class="main_diary_2">
        <div class="title_diary_2">
            <h1>Secret Diary {{name}}</h1>
            <q>If you want to keep a secret, you must also hide it from yourself.</q>
        </div>
        <div class="container-fluid nav_diary d-flex justify-content-between">
            <a href="/home.html">Go Back 🧐</a>
            <a class="save" ng-click="update()">Save and Go back🤫</a>
        </div>
        <div class="container">
            <div class="row">
                <div class="form-group purple-border w-75" >
                    <label class="lead" for="title_diary">Title of Your Sequela</label>
                    <textarea class="form-control" id="title_diary"
                        placeholder="please try to use 10 words🤞" ng-model="title"></textarea>
                </div>
            </div>
            <div class="row" style="height: 60vh;">
                <div class="form-group purple-border w-100">
                    <label class="lead" for="content-diary">Express your fellings...🤗</label>
                    <textarea class="form-control" id="content-diary" ng-model="content" style="height: 90% !important;"></textarea>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid footer">
        <p class="w-100 text-center lead">
            Created by Vaibhav Singh Negi
        </p>
    </div>

    <!-- angularJS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js">
    </script>
    <!-- extra -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
     <!-- my JS-->
     <script src="./js/home.js"></script>
</body>

</html>